html {
    font-family: sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  main{
    height: 100vh;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: none;
  }
  .list-unstyled{
    padding-left: 0;
    list-style: none;
    background-color: #389eac;
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #032D23;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
     -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
     -webkit-box-shadow 0.15s ease-in-out;
  }
  .btn:hover {
    color: #0d4d40;
    text-decoration: none;
    border: none !important;
  }
  .btn:focus{
    border: none !important;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #000;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #000;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  .nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    position: relative;
    display: block;
    color: #032D23;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 10px ;
    padding: 8px;
  }
  @media (min-width: 992px) {
  .nav-link:after{
    content: "";
    position: absolute;
    background-color: #032D23;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 8px;
    transition: width 1s ease;
  }
  
  .nav-link:hover:after{
    width: 100%;
  } 
}
  .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }.navbar>.container,
  .navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color: #032D23;
  }
  @media (min-width: 991.98px) {
    .hide-icons{
      display: none;
    }
  }
  
  
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  @media (max-width: 991.98px) {
  
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  
    .navbar-expand-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
  
  
  
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  
    .navbar-expand-lg .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }
  .navbar-expand-lg .Logo {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 4px;
    color: #032D23;
    transition: color 1s ease-out;
  }
  .navbar-expand-lg .Logo:hover{
    color: #fff;
  }
  @media (max-width: 575.98px) { 
    .navbar-expand-lg .Logo{
      font-size: 1.3rem;
    }
   }
  
  button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  
  button:hover,
  button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .navbar {
    background-color: #389eac ;
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none;
  }
  main {
    height: 100vh;
  }
  .wrapper {
    width: 100%;
    height: calc(100% - 52px)  !important;
  }
  #sidebar {
    z-index: 1000;
    min-width: 220px;
    max-width: 240px;
    background-color: #389eac;
    color: #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
  #sidebar.active ul.components li a {
    padding: 0;
    font-size: 14px;
  }
  #sidebar ul.components li a span img{
    width: 40px;
    padding: 10px;
  }
  #sidebar.active ul.components li a span img:first-child{
    width: 43px;
  }
  #sidebar.active ul.components li a span img{
    width: 50px;
  }
  #sidebar.active ul.components li:last-child{
    padding-bottom: 50px;
  }
  #sidebar.active ul.components li a span {
    margin-right: 0;
    display: block;
  }
  #sidebar ul li{
    font-size: 15px;
  }
  #sidebar ul li a {
    padding: 5px 16px;
    display: block;
    color: #032D23;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 1s ease;
  }
  #sidebar ul li a:hover{
    background-color: #186c77;
  }
  #sidebar ul li a:hover {
    color: #fff;
  }
  #sidebarCollapse{
    font-size: 1.2rem;
    height: 70px;
    margin-left: 10px;
  
  }
  #sidebarCollapse-md{
    display: none;
  }
  @media (max-width: 991.98px) {
    #sidebarCollapse{
      display: none;
    }
    #sidebar.hide{
      display: none;
    }
  
    #sidebarCollapse-md{
      display: block;
      color: #032D23;
      text-align: center;
    }
    .navbar{
      padding: 2px;
    } 
  }
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .ml-auto,
    .mx-auto {
      margin-left: auto !important;
    }
  
  .ml-auto,
  .mx-auto {
    margin-right: auto !important;
  }
  
  .notifyIcon{
    margin-right: 14px;
  }

  .notifyIcon span{
    border: 0.5px solid #032D23;
    border-radius: 50%;
    padding: 2px 7px;
    transition: border 0.5s ease;
  }
  .notifyIcon span:hover{
    border: 0.5px solid #fff;
  }
  .notifyIcon span>a{
    text-decoration: none;
    color: #032D23;    
    transition: color 0.5s ease;
  }
  .notifyIcon span>a:hover{
    color: #fff;
  }
  @media(max-width: 992px){
    .notifyIcon{
      display: none;
    }
  }
    .notifyIcon992{
    display: block;
    margin-right: 15px;
  }
  .notifyIcon992 span>a{
    color: #032D23;
  }
  .bell-icon{
    border: 1px solid #032D23;
    border-radius: 100%;
    padding: 2px 6px ;
    font-size: 19px;
  }
  .envelope-icon{
    border: 1px solid #032D23;
    border-radius: 100%;
    padding: 2px 6px;
    font-size: 19px;
  
  }
  @media (min-width: 992px){
    .notifyIcon992{
      display: none;
      margin-right: 14px;
      font-size: 15px;
      color: #032D23;
    }
  }

.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  border: 1px solid #b9b9b9;
  padding: 13px 20px 0px;
  background:#fff;
  }
  .footer p{
  color: #032D23;
  font-size: 14px;
  }
  
  .footer span{
  color: rgba(170, 167, 19, 1);
  }


  
  